.dealer-object {
  height: 20vh;
  width: 20vw;
  color: cyan;
  border-radius: 30px;
  background-color: purple;
  border: 3px cyan solid;
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 1s linear all; }

.active-dealer {
  height: 48vh;
  width: 22vw;
  border: 9px white solid;
  transition: 1s linear all; }

.hand-values {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.dealer-cards {
  display: table;
  table-layout: fixed;
  width: 50%;
  max-width: 100%; }
  .dealer-cards img {
    height: 15vh; }

.card-container {
  display: table-cell;
  width: 50%; }

.dealer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.dealer-hand {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.dealer-single-hand {
  display: flex;
  flex-direction: column; }

@media only screen and (max-width: 1630px) {
  .card-container {
    display: table-cell;
    width: 40%; }
  img {
    height: 60%; } }

@media only screen and (max-width: 1200px) {
  .card-container {
    display: table-cell;
    width: 40%;
    height: 80%; }
  img {
    height: 50%; } }
