.payout-modal {
  color: cyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border: cyan 5px solid;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 40px;
  width: 36vw;
  height: 20vh;
  position: fixed;
  left: 1vw;
  top: 20vh;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif; }

.new-hand-button {
  width: 80%;
  height: 5vh;
  padding: 1%;
  border: cyan solid 3px;
  background-color: mediumpurple;
  color: cyan; }
