.main-menu {
    color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border: cyan 5px solid;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 40px;
    width: 40vw;
    height: 20vh;
    position: fixed;
    left: 30vw;
    bottom: 60vh;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}


.btn {
    bottom: 0;
    height: 5vh;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
}

.add-player-button {
    color: cyan;
    height: 3vh;
    padding: 1%;
    background-color: mediumpurple;
    width: 140px;
}

.new-game-button {
    width: 18vw;
    min-width: 140px;
    margin: 2% auto;
    padding: 1%;
    border: cyan solid 3px;
    background-color: mediumpurple;
    color: cyan;
}