.header {
  font-size: 200%;
  color: purple;
  margin-left: 5vw;
}

.header-title {
  font-size: 1.5em;
  font-family: 'Mr Dafoe', cursive;
}

.header-span {
  color: cyan;
  font-family: 'Monoton', cursive;
}


@media only screen and (max-height: 450px) {
  .header {
    font-size: 125%;
  }

}