.btn {
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
}

.pause-button {
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    height: 85px;
    position: fixed;
    top: 20px;
    right: 38px;
    font-family: 'Raleway', sans-serif;
    width: 85px;
    font-size: 20px;
    border: 3px cyan solid;
    border-radius: 50%;
    background: none;
    color: cyan;
}